.side-menu__container {
    display: none;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 1s;
    background-color: rgba(41, 41, 41, 0.6);
}
.side-menu__container_open {
    display: flex;
}

.side-menu {
    width: 520px;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: -520px;
    background-color: #202020;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
}

.side-menu_open {
    right: 0;
}

.side-menu__close-button {
    width: 32px;
    height: 32px;
    background-image: url("../../images/icon-close.svg");
    background-position: center;
    background-color: inherit;
    position: absolute;
    top: 22.44px;
    right: 22.44px;
    border: none;
    padding: 0;
    margin: 0;
}

.side-menu__link-area {
    margin: 159px auto 0;
    max-width: 340px;
    min-height: 50px;
    text-align: center;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.side-menu__link {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.22;
    margin-bottom: 28px;
}
.side-menu__link_type_active {
    border-bottom: 2px #fff solid;
}

.side-menu__link:last-child {
    margin-bottom: 0;
}

.side-menu__profile-area {
    display: flex;
    align-items: center;
    margin-bottom: 92px;
}

.side-menu__profile {
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    margin: 0 13px 0 0;
}

.side-menu__profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: #313131;
    background-image: url("../../images/icon__profile.svg");
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 650px) {
    .side-menu {
        right: -320px;
        width: 320px;
    }

    .side-menu__close-button {
        top: 13.44px;
        right: 13.44px;
    }

    .side-menu__link-area {
        max-width: 300px;
        margin: 144px auto 0;
    }

    .side-menu__profile-area {
        margin-bottom: 48px;
    }
}
