.about-project {
    min-height: 388px;
    padding: 110px 70px;
    background-color: #202020;
    color: #8b8b8b;
}

.about-project__title {
    margin: 0;
    min-height: 50px;
    font-family: "Inter", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: -0.96px;
    border-bottom: solid 1px #8b8b8b;
}

.about-project__text-area {
    display: flex;
    justify-content: space-between;
    padding: 69px 0 110px 0;
}

.about-profect__content-left {
    max-width: 550px;
}

.about-profect__content-right {
    max-width: 550px;
}

.about-project__subtitle {
    letter-spacing: -0.96px;
    margin: 0 0 26px 0;
    font-family: "Inter", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}

.about-project__description {
    margin: 0;
    font-family: "Inter", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
}

.about-project__decoration-area {
    max-width: 100%;
    display: grid;
    min-height: 72px;
    grid-template-columns: 228px 912px;
    justify-content: center;
}

.about-project__decoration-text {
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    margin: 0;
    font-family: "Inter", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
}

.about-project__decoration-text_type_green {
    background-color: #3ddc84;
    color: black;
}

.about-project__decoration-text_type_gray {
    background-color: #303030;
}
